<div class="container" id="search">
  <div class="row">
    <div class="col-md-12">
      <form novalidate ng-submit="vm.search()">
        <div class="form-group">
          <input type="search" class="form-control" placeholder="输入书名" ng-model="vm.queryString">
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="book in vm.bookList track by $index">
          <div class="media">
            <div class="media-left">
              <a href="#/detail/{{book.ID}}">
                <img class="media-object" ng-src="{{book.Image}}" alt="">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading" ng-bind="::book.Title"></h4>
              <p ng-bind="::book.Description"></p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
