<!DOCTYPE html>
<html lang="en" ng-app="demo">
<head>
    <meta charset="UTF-8">
    <title>Angular $parsers, $formatters将小数转换为整数</title>
    <script src="../bower_components/angular/angular.js"></script>
</head>
<body ng-controller="DemoController as vm">
<p>Rest Time (in seconds): {{vm.data}}</p>
<input type="text" ng-model="vm.data" decimal-to-integer/>
<button type="button" ng-click="vm.change()">修改model</button>
<script>

    angular.module('demo', []);

    (function () {
        angular
                .module('demo')
                .controller('DemoController', DemoController);

        DemoController.$inject = ['$log', '$scope'];

        function DemoController($log, $scope) {

            var vm = this;

            vm.data = '';
            vm.change = change;

            //通过程序修改model
            function change() {
                vm.data = 123.22;
            }

            $scope.$watch('vm.data', function(newData) {
                $log.info('data', newData);
            });

        }
    })();

    (function() {
        angular
                .module('demo')
                .directive('decimalToInteger', decimalToInteger);

        decimalToInteger.$inject = ['$log'];

        function decimalToInteger($log) {
            return {
                restrict: 'A',
                scope: {},
                require: 'ngModel',
                link: function(scope, element, attr, NgModelCtrl) {

                    //view to model. 用户在视图的input中输入123.22，在视图的input中显示123.22，但model的值是123，Rest Time显示123
                    NgModelCtrl.$parsers.unshift(function(value) {
                        $log.info('$parsers', value);
                        return isNaN(parseInt(value)) ? value : parseInt(value);
                    });

                    //model to view. 程序修改model值为123.22，在视图的input中显示123，Rest time显示123.22
                    NgModelCtrl.$formatters.push(function(value) {
                        $log.info('$formatters', value);
                        return isNaN(parseInt(value)) ? value : parseInt(value);
                    });
                }
            }
        }
    })();
</script>
</body>
</html>


