<!DOCTYPE html>
<html lang="en" ng-app="demo">
<head>
    <meta charset="UTF-8">
    <title>Angular 使用angular-translate模块国际化</title>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-translate/angular-translate.js"></script>
</head>
<body ng-controller="DemoController as vm">
    
<h2>{{ 'HEADLINE' | translate}}</h2>
<p translate>INTRO_TEXT</p>


<div>
    <button ng-click="vm.changeLang('de')" translate="{{vm.button_text_de}}"></button>
    <button ng-click="vm.changeLang('en')" translate>{{vm.button_text_en}}</button>
</div>
<script>

    angular.module('demo', ['pascalprecht.translate']);

    (function() {
        angular
            .module('demo')
            .config(config);

        config.$inject = ['$translateProvider'];

        function config($translateProvider) {
            $translateProvider
                .translations('en', {
                    HEADLINE: 'Hello there, This is my awesome app！',
                    INTRO_TEXT: 'And it has i18n support!',
                    BUTTON_TEXT_EN: 'english',
                    BUTTON_TEXT_DE: 'german'
                })
                .translations('de', {
                    HEADLINE: 'Hey, das ist meine großartige App!',
                    INTRO_TEXT: 'Und sie untersützt mehrere Sprachen!',
                    BUTTON_TEXT_EN: 'englisch',
                    BUTTON_TEXT_DE: 'deutsch'
                })
                .preferredLanguage('en');

        }
    })();

    (function () {
        angular
                .module('demo')
                .controller('DemoController', DemoController);

        DemoController.$inject = ['$log', '$translate'];

        function DemoController($log, $translate) {

            var vm = this;
            angular.extend(vm, {
                button_text_de: 'BUTTON_TEXT_DE',
                button_text_en: 'BUTTON_TEXT_EN',
                changeLang: changeLang
            });

            function changeLang(lang) {
                $translate.use(lang);
            }

        }
    })();

</script>
</body>
</html>
