<!DOCTYPE html>
<html lang="en" ng-app="demo" ng-strict-di="true">

<head>
    <meta charset="UTF-8">
    <title>Angular $httpBackend服务用法</title>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-mocks/angular-mocks.js"></script>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap-theme.css"/>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css"/>
</head>

<body ng-controller="DemoController as vm">
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="book in vm.books" ng-bind="book.name"></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <form name="bookForm" novalidate ng-submit="vm.addBook()">
                <div class="form-group">
                    <label for="bookname" class="control-label sr-only">书名</label>
                    <input ng-model="vm.bookName" id="bookname" class="form-control" name="bookname" type="text"
                           placeholder="请输入书名"/>
                </div>
                <button type="submit" class="btn btn-primary">添加</button>
            </form>
        </div>
    </div>
</div>


<script>
    angular.module('demo', ['ngMockE2E']);

    (function () {
        angular
                .module('demo')
                .run(run);

        run.$inject = ['$httpBackend', '$log'];

        function run($httpBackend, $log) {
            var books = [
                {
                    id: 1,
                    name: 'angular权威指南'
                },
                {
                    id: 2,
                    name: 'jQuery权威指南'
                },
                {
                    id: 3,
                    name: 'JavaScript权威指南'
                }
            ];
            //获取图书
            $httpBackend.when('GET', '/api/book/get').respond(function (method, url, data, headers, params) {
                $log.info(method, url, data, headers, params);
                return [200, {
                    data: books
                }];
            });

            //添加图书
            $httpBackend.whenPOST('/api/book/add').respond(function (method, url, data, headers, params) {
                var book = angular.fromJson(data);
                if (angular.isUndefined(book.name)) {
                    return [500, {
                        result: 2,
                        msg: 'name field is undefined'
                    }];
                } else {
                    if (book.name.replace(/\s+/g, '').length === 0) {
                        return [200, {
                            result: 1,
                            msg: 'book name must not be empty'
                        }];
                    } else {
                        books.push(data);
                        data.id = books.length;
                        return [200, {
                            result: 0,
                            msg: 'add book success'
                        }];
                    }
                }
            });
        }
    }());

    (function () {
        angular
                .module('demo')
                .controller('DemoController', DemoController);

        DemoController.$inject = ['$log', 'BookService'];

        function DemoController($log, BookService) {

            var vm = this;

            angular.extend(vm, {
                getBooks: getBooks,
                addBook: addBook,
                books: null,
                bookName: ''
            });

            getBooks();
            function getBooks() {
                BookService.get().then(function (res) {
                    vm.books = res.data.data;
                });
            }

            function addBook() {
//                if(!vm.bookName) return;
                var data = {
                    name1: vm.bookName
                };
                BookService.add(data).then(function (res) {
                    var result = res.data;
                    $log.info(result);
                }, function (errRes) {
                    var errData = errRes.data;
                    alert(errData.msg);
                });
            }
        }
    }());

    (function () {
        angular
                .module('demo')
                .service('BookService', BookService);

        BookService.$inject = ['$http'];

        function BookService($http) {
            var service = this;

            angular.extend(service, {
                get: get,
                add: add
            });

            function add(data) {
                var url = '/api/book/add';
                return $http.post(url, data);
            }

            function get() {
                var url = '/api/book/get';
                return $http.get(url);
            }
        }
    }());
</script>
</body>

</html>